@import url('https://fonts.googleapis.com/css?family=Merienda&effect=outline');



header .navbar {
    background-color: lightblue;
    margin-bottom: 2.5%;
    font-family: Merianda;
    padding-left: 1%;
    padding-right: 1%;
}

.navbar .navbar-brand {
    font-size: 400%; 
}

.navbar-nav .nav-link {
    font-size: 200%; 
}

.heading {
    text-align: center;
}

#profile {
    text-align: center;
}

#planner {
    text-align: center;
}



.add_event .btn {
    font-size: 200%;
}