@import url('https://fonts.googleapis.com/css?family=Merienda&effect=outline');



header .navbar {
    background-color: lightblue;
    margin-bottom: 2.5%;
    font-family: Merianda;
    padding-left: 1%;
    padding-right: 1%;
}

.navbar .navbar-brand {
    font-size: 400%; 
}

.navbar-nav .nav-link {
    font-size: 200%; 
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: repeat;
    background-color: black;
    background-size: 100% 100%;
}

.heading {
    text-align: center;
}

#profile {
    text-align: center;
}

#planner {
    text-align: center;
    margin-bottom: 5%;
}

.add_event .btn {
    font-size: 200%;
}