@import url('https://fonts.googleapis.com/css?family=Merienda&effect=outline');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* Ensure body takes up full viewport height */
}

header .navbar {
    background-color: lightblue;
    margin-bottom: 2.5%;
    font-family: Merianda;
    padding-left: 1%;
    padding-right: 1%;
}

.navbar .navbar-brand {
    font-size: 200%; 
}

.navbar-nav .nav-link {
    font-size: 150%; 
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: repeat;
    background-color: black;
    background-size: 100% 100%;
}

.club-intro {
    margin-top: 10%;
    margin-bottom: 10%;
}

.heading {
    text-align: center;
    font-family: Merianda;
}

#planner {
    text-align: center;
    margin-bottom: 5%;
}

/* Custom styles to override Bootstrap accordion button styles */
.accordion-button:not(.collapsed) {
    background-color: #007bff !important; /* Change background color */
    color: #000 !important;            /* Change text color */
    border-color: #ccc !important;     /* Change border color */
}

.accordion-button:not(.collapsed)::after {
    filter: invert(0%) !important; /* Change icon color to black */
}

.accordion-button {
    background-color: #007bff !important;
}

.exercise-list-accordion {
    padding-left: 0;
}

.accordion-header {
    color: white !important;
}

/* Footer Styles */

footer {
    background-color: rgb(39, 151, 255);
    margin-top: 5%;
}

footer .footer-bottom {
    width: 100%;
    background-color: rgb(39, 151, 255);
}

footer .social-links {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

footer .social-links .fa-solid.fa-circle.fa-stack-1x::before {
    border-radius: 50%;
}

footer .social-links .social-link {
    text-align: center;
}

#footer-2 {
    background-color: rgb(39, 151, 255);
    margin-top: 0;
}

#footer-2 .footer-bottom {
    width: 100%;
    background-color: rgb(39, 151, 255);
}

#footer-2 .social-links {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#footer-2 .social-links .fa-solid.fa-circle.fa-stack-1x::before {
    border-radius: 50%;
}

#footer-2 .social-links .social-link {
    text-align: center;
}

/* Social Links Styles */

.social-links {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.social-links .fa-solid.fa-circle.fa-stack-1x::before {
    border-radius: 50%;
}

.fa-heartbeat,
.fa-fly,
.fa-globe,
.fa-dumbbell {
    color: black;
}

/* copyright Styles */
.copyright {
    text-decoration: none;
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: rgb(39, 151, 255);
}

