{% extends 'base.html' %}
{% block content %}
<!-- specific page content here -->
 {% if session.user %}
<section class="club-intro">
    <div class="heading">
        <h2>Welcome {{ username }} !</h2>
        <hr>
        <p>
            Head over to your profile to view your progress, or visit your planner to schedule your next session.
            <br>
            There are also events on the calendar for club members to attend if you are interested.
        </p>
    </div>
</section>
{% else %}
<section class="club-intro">
    <div class="heading">
        <h2>Welcome to Gym Planner !</h2>
        <hr>
        <p>
            Using our app you can do a multitude of things to ensure your journey in the gym is effortless and rewarding
            !
            <br>
            If you are new, head over to our register page to make a new account, or if you are a returning member
            simply log in.
        </p>
    </div>
</section>
{% endif %}
<section class="gallery">
    <h2>Gallery</h2>
    <div class="gallery-grid">
        <div class="gallery-item">
            <img src="/static/images/heavy-rope.jpg" alt="Description of image 1">
        </div>
        <div class="gallery-item">
            <img src="/static/images/treadmill.jpg" alt="Description of image 2">
        </div>
        <div class="gallery-item">
            <img src="/static/images/kettlebells.jpg" alt="Description of image 3">
        </div>
        <div class="gallery-item">
            <img src="/static/images/barbell.jpg" alt="Description of image 4">
        </div>
        <div class="gallery-item">
            <img src="/static/images/yoga.jpg" alt="Description of image 4">
        </div>
        <div class="gallery-item">
            <img src="/static/images/skipping.jpg" alt="Description of image 4">
        </div>
    </div>
</section>
{% endblock %}